@mixin transition($transition...) {
    // defining prefixes so we can use them in mixins below
    $prefixes: ("-webkit-", "" );
    @each $prefix in $prefixes {
        #{$prefix}transition: $transition;
    }
}
/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
    background-color: $to;
    background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background-image: -webkit-linear-gradient(top, $from, $to);
    background-image: -moz-linear-gradient(top, $from, $to);
    background-image: -o-linear-gradient(top, $from, $to);
    background-image: linear-gradient(to bottom, $from, $to);
}

@mixin pc {
     @media screen and (min-width: $pc_min_width){
        @content;
    }
}
@mixin tablet {
     @media screen and (min-width: $pc_min_width - 1){
        @content;
    }
}
@mixin sp {
     @media screen and (max-width: $sp_max_width){
        @content;
    }
}

@mixin notxt {
    text-indent: -9999px;
    overflow: hidden;
}
