$pc_min_width: 780px;
$sp_max_width: 481px;

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$lato:              'Lato', $sans-serif;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $bones-pink;
$link-hover:        darken($link-color, 9%);

$border-color:      #000;
$disabled-gray:     #cfcfcf;
