@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter:none !important;
        -ms-filter: none !important;
    }

    a,
    a:visited {
        color: #444 !important;
        text-decoration: underline;
        // show title too
        abbr[title]:after {
            content: " (" attr(title) ")";
        }
    }

    .ir a:after,
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    img,
    tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    // hide content people who print don't need to see

    .page-navigation,
    .respond-form,
    .sidebar,
    .wp-prev-next,
    nav {
        display: none;
    }
}
